admin-scripts==0.3.4
appier==1.2.11
backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
cycler==0.10.0
decorator==4.0.9
Django==1.8.11
django-appconf==1.0.1
django-autocomplete-light==3.1.0
django-bower==5.1.0
django-extensions==1.6.1
django-favicon==0.1.2
django-geoposition==0.2.2
django-gmapi==1.0.1
django-grappelli==2.7.3
Flask==0.10.1
functools32==3.2.3.post2
grappelli-nested-inlines==0.6.0
psycopg2==2.5.3
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsbeautifier==1.6.2
jsonschema==2.5.1
legacy==0.1.5
MarkupSafe==0.23
matplotlib==1.5.1
netius==1.6.35
networkx==1.11
numpy==1.11.0rc1
pandas==0.17.1
path.py==8.1.2
pep8==1.7.0
pickleshare==0.6
Pillow==3.1.1
pylab==0.1.3
pyparsing==2.1.0
python-dateutil==2.5.0
pytz==2015.7
pyzmq==15.2.0
quorum==0.3.20
scikit-image==0.11.3
scikit-learn==0.17.1
scipy==0.17.0
seaborn==0.7.0
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
sympy==0.7.6.1
tornado==4.3
traitlets==4.1.0
virtualenv==15.0.0
Werkzeug==0.11.4
