.panel-heading:before,
.panel-heading:after {
  content: " ";
  display: table; }

.panel-heading:after {
  clear: both; }

.panel-heading i {
  float: left;
  font-size: 22px;
  line-height: 20px; }

.panel-heading h3 {
  margin: 0px 0px 0px 10px;
  float: left;
  font-size: 22px; }

.reliability-indicator .reliability-title {
  margin: auto;
  width: 120px; }
  .reliability-indicator .reliability-title i {
    float: left;
    font-size: 18px; }
  .reliability-indicator .reliability-title h3 {
    float: left;
    margin: 0 0 0 5px;
    font-size: 18px; }

.panel-failure-probability {
  padding: 30px 20px; }

.panel-remaining-lifetime {
  padding: 25px 20px; }

.life-panel {
  padding-top: 20px;
  text-align: center; }
  .life-panel h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px; }
  .life-panel .aging-parameters {
    padding-left: 40px;
    padding-right: 20px; }

.alerts {
  padding-top: 10px;
  padding-bottom: 10px; }
  .alerts .panel {
    box-shadow: 0 3px 5px #888888; }
    .alerts .panel i.fa {
      font-size: 36px;
      padding-top: 15px;
      padding-left: 5px; }
    .alerts .panel .huge {
      font-size: 32px; }

.asset_information {
  padding: 0 15px; }

.recent_values {
  padding-left: 0px; }
  .recent_values .list-group-item {
    padding: 10px 10px; }
    .recent_values .list-group-item em {
      line-height: 20px; }

.substation-select a.list-group-item {
  color: #337ab7; }
  .substation-select a.list-group-item:hover {
    color: #23527c; }

#desc {
  text-align: center;
  margin: 40px 0; }

.prog {
  position: relative;
  font-size: 300px;
  width: 1em;
  height: 1em;
  float: left; }

#prog-contain {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  border: solid 10px white;
  -moz-box-shadow: 0px 0px 4px 1px #bbb;
  -webkit-box-shadow: 0px 0px 4px 1px #bbb;
  box-shadow: 0px 0px 4px 1px #bbb;
  margin: 0px auto;
  background: #dddddd; }

.prog > .percent {
  position: absolute;
  font-size: 0.3em;
  text-align: center;
  top: 30px;
  right: 50px;
  width: 220px;
  height: 220px;
  border: 2px solid white;
  border-radius: 200px;
  background: white;
  padding: 15px;
  -moz-box-shadow: 0px 0px 5px 3px #bbb;
  -webkit-box-shadow: 0px 0px 5px 3px #bbb;
  box-shadow: 0px 0px 5px 3px #bbb; }

.prog > .percent > p {
  margin: 30px 0 0 5px; }

.prog > #slice {
  position: absolute;
  width: 1em;
  height: 1em;
  clip: rect(0px, 1em, 1em, 0.5em);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.prog > #slice.gt50 {
  clip: rect(auto, auto, auto, auto);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.prog > #slice > .pie {
  border: .1em solid #9a3e3e;
  position: absolute;
  width: 0.93em;
  /* 1 - (2 * border width) */
  height: 0.93em;
  /* 1 - (2 * border width) */
  clip: rect(0em, 0.5em, 1em, 0em);
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em; }

.prog > #slice > .pie.fill {
  -moz-transform: rotate(180deg) !important;
  -webkit-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important; }

.prog.fill > .percent {
  display: none; }

.prog.fill > #slice > .pie {
  border: transparent;
  width: 1em;
  height: 1em; }

.circular-progress {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #5c5c5c; }

.hi-table {
  padding: 20px; }

.aging-table {
  padding: 20px;
  margin-top: 20px; }

.components-table td, .components-table th {
  text-align: center;
  vertical-align: middle !important; }

.color-1 {
  background-color: #5CB85C; }

.text-color-1 {
  color: #5CB85C;
  font-weight: bold; }

.pf-text-color-19 {
  color: #5CB85C;
  font-weight: bold; }

.color-2 {
  background-color: #6EBD56; }

.text-color-2 {
  color: #6EBD56;
  font-weight: bold; }

.pf-text-color-18 {
  color: #6EBD56;
  font-weight: bold; }

.color-3 {
  background-color: #80C250; }

.text-color-3 {
  color: #80C250;
  font-weight: bold; }

.pf-text-color-17 {
  color: #80C250;
  font-weight: bold; }

.color-4 {
  background-color: #92C74B; }

.text-color-4 {
  color: #92C74B;
  font-weight: bold; }

.pf-text-color-16 {
  color: #92C74B;
  font-weight: bold; }

.color-5 {
  background-color: #A4CC45; }

.text-color-5 {
  color: #A4CC45;
  font-weight: bold; }

.pf-text-color-15 {
  color: #A4CC45;
  font-weight: bold; }

.color-6 {
  background-color: #B6D140; }

.text-color-6 {
  color: #B6D140;
  font-weight: bold; }

.pf-text-color-14 {
  color: #B6D140;
  font-weight: bold; }

.color-7 {
  background-color: #C8D63A; }

.text-color-7 {
  color: #C8D63A;
  font-weight: bold; }

.pf-text-color-13 {
  color: #C8D63A;
  font-weight: bold; }

.color-8 {
  background-color: #DADB35; }

.text-color-8 {
  color: #DADB35;
  font-weight: bold; }

.pf-text-color-12 {
  color: #DADB35;
  font-weight: bold; }

.color-9 {
  background-color: #ECE02F; }

.text-color-9 {
  color: #ECE02F;
  font-weight: bold; }

.pf-text-color-11 {
  color: #ECE02F;
  font-weight: bold; }

.color-10 {
  background-color: #FEE62A; }

.text-color-10 {
  color: #FEE62A;
  font-weight: bold; }

.pf-text-color-10 {
  color: #FEE62A;
  font-weight: bold; }

.color-11 {
  background-color: #F9D52E; }

.text-color-11 {
  color: #F9D52E;
  font-weight: bold; }

.pf-text-color-9 {
  color: #F9D52E;
  font-weight: bold; }

.color-12 {
  background-color: #F5C532; }

.text-color-12 {
  color: #F5C532;
  font-weight: bold; }

.pf-text-color-8 {
  color: #F5C532;
  font-weight: bold; }

.color-13 {
  background-color: #F1B536; }

.text-color-13 {
  color: #F1B536;
  font-weight: bold; }

.pf-text-color-7 {
  color: #F1B536;
  font-weight: bold; }

.color-14 {
  background-color: #EDA43A; }

.text-color-14 {
  color: #EDA43A;
  font-weight: bold; }

.pf-text-color-6 {
  color: #EDA43A;
  font-weight: bold; }

.color-15 {
  background-color: #E9943E; }

.text-color-15 {
  color: #E9943E;
  font-weight: bold; }

.pf-text-color-5 {
  color: #E9943E;
  font-weight: bold; }

.color-16 {
  background-color: #E58442; }

.text-color-16 {
  color: #E58442;
  font-weight: bold; }

.pf-text-color-4 {
  color: #E58442;
  font-weight: bold; }

.color-17 {
  background-color: #E17346; }

.text-color-17 {
  color: #E17346;
  font-weight: bold; }

.pf-text-color-3 {
  color: #E17346;
  font-weight: bold; }

.color-18 {
  background-color: #DD634A; }

.text-color-18 {
  color: #DD634A;
  font-weight: bold; }

.pf-text-color-2 {
  color: #DD634A;
  font-weight: bold; }

.color-19 {
  background-color: #D9534F; }

.text-color-19 {
  color: #D9534F;
  font-weight: bold; }

.pf-text-color-1 {
  color: #D9534F;
  font-weight: bold; }

.fp-panel {
  padding: 20px; }
  .fp-panel h4 {
    margin-left: 0px; }
    .fp-panel h4:first-child {
      margin-top: 0px; }
    .fp-panel h4:nth-child(n+3) {
      margin-top: 30px; }
  .fp-panel .progress {
    position: relative; }
    .fp-panel .progress span.failure-progress {
      position: absolute;
      left: calc(50% - 40px);
      width: 40px;
      text-align: center;
      font-weight: bold; }
  .fp-panel table {
    margin-top: 5px; }

/* columns of same height styles */
.row-full-height {
  height: 100%; }

.col-full-height {
  height: 100%;
  vertical-align: middle; }

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed; }

.col-xs-height {
  display: table-cell;
  float: none !important;
  height: 400px; }

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important; } }

@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important; } }

@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important; } }

/* vertical alignment styles */
.col-top {
  vertical-align: top; }

.col-middle {
  vertical-align: middle; }

.col-bottom {
  vertical-align: bottom; }

#substation-assets > tbody > tr:hover {
  cursor: pointer; }

#substations-map {
  width: 730px;
  margin: 0 auto; }
  #substations-map h3 {
    margin-left: 0px; }

.chart_parameter_select hr {
  margin: 0px 2px; }

.chart_parameter_select input {
  padding-left: 20px;
  margin-left: 0px !important; }
  .chart_parameter_select input:checked + label {
    color: #337ab7; }

.chart_parameter_select label {
  font-size: 16px; }

@media (min-width: 768px) {
  .sidebar {
    margin-top: 122px;
  }
}

.navbar-default span.yourlabs-autocomplete {
  top: 50px !important; }

.autocomplete-form {
  position: relative;
}

.autocomplete-form > .autocomplete-list {
  position: absolute;
  z-index: 30;
  left: 0;
  top: 100%;
  width: 100%;
}
.autocomplete-form > .autocomplete-list > li {
  list-style: none;
}

.autocomplete-form > .autocomplete-list .autocomplete-link {
  display: block;
  color: #337ab7;
}

.autocomplete-form > .autocomplete-list .autocomplete-link:focus,
.autocomplete-form > .autocomplete-list .autocomplete-link:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  color: #23527c;
}
