{% include "header.html" with title='Home'  %}
{% load staticfiles %}
{% load network_extras %}


<body>

    <div id="wrapper">

        {% include 'navbar.html'%}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Rede de Subestações</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bolt fa-fw"></i>  <h3>Subestações</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="input-group custom-search-form autocomplete-form" style="margin-bottom: 20px"
                                 data-src="http:\\{{request.get_host}}/autocomplete/substation"
                                 data-dest="http:\\{{request.get_host}}/substation/"
                                 id="substationAutocomplete">
                                <input type="text" placeholder="Procurar Subestação" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-autocomplete" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="list-group substation-select">
                                {% for substation in substations %}
                                <a href="http:\\{{request.get_host}}\substation\{{substation.pk}}" class="list-group-item">
                                    {{substation.name}}
                                    <span class="pull-right text-muted small"><em>{{substation.ga}}</em>
                                    </span>
                                </a>
                                {% endfor %}

                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div id="substations-map" style="float:left">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-map-marker fa-fw"></i> <h3>Mapa</h3>
                        </div>
                        <div class="panel-body">
                            {{ form.map }}
                            {{ form.media.js }}
                            <script type="text/javascript">
                                window.marker = {
                                    markerOver: function() { this.openInfoWindow(); },
                                    markerOut: function() { this.closeInfoWindow(); },
                                    markerClick: function() { window.location.href = this.title; }
                                };
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-list-alt fa-fw" style="line-height: 24px"></i>
                            <h3>Ativos em risco</h3>
                        </div>
                        <div class="panel-body">
                            <table id="substation-assets" class="table table-hover">
                                <thead>
                                    <tr>
                                      <th>SAP ID</th>
                                      <th>Tipo</th>
                                      <th>Ativo</th>
                                      <th style="text-align:center">Índice de Saúde</th>
                                      <th style="text-align:center">Probabilidade de Falha</th>
                                      <th style="text-align:center">Tempo de Vida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for asset in assets %}
                                    <tr>
                                        <td>{%if asset.sap_id%}{{asset.sap_id}}{%else%}---{%endif%}</td>
                                        <td><a href="http://{{request.get_host}}/asset/{{asset.id}}">{{asset.asset_type}}</a></td>
                                        <td><a href="#">{{asset.name}}</a></td>
                                        <td align="center" class="text-color-{{asset.health_index|value_to_color:100}}">{{asset.health_index|floatformat:0}}</td>
                                        <td align="center" class="pf-text-color-{{asset.failure_probability|value_to_color:100}}">{{asset.failure_probability|percentage}}</td>
                                        <td align="center" class="text-color-{{asset.remaining_lifetime|value_to_color:asset.max_age}}">{{asset.remaining_lifetime|floatformat:0}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </div>

        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   {% include "footer.html" %}
</body>

</html>
