{% include "header.html" with title='Home'  %}
{% load staticfiles %}


<body>

    <div id="wrapper">

        {% include 'navbar.html'%}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Rede de Subestações</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
                <div class="col-lg-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bolt fa-fw"></i>  <h3>Subestações</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="input-group custom-search-form" style="margin-bottom: 20px">
                                <input id="substationAutocomplete" type="text" placeholder="Procurar Subestação" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <div class="list-group substation-select">
                                {% for substation in substations %}
                                <a href="http:\\{{request.get_host}}\substation\{{substation.pk}}" class="list-group-item">
                                    {{substation.name}}
                                    <span class="pull-right text-muted small"><em>{{substation.ga}}</em>
                                    </span>
                                </a>
                                {% endfor %}

                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div id="substations-map" style="float:left">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-map-marker fa-fw"></i> <h3>Mapa</h3>
                        </div>
                        <div class="panel-body">
                            {{ form.map }}
                            {{ form.media.js }}
                            <script type="text/javascript">
                                window.marker = {
                                    markerOver: function() { this.openInfoWindow(); },
                                    markerOut: function() { this.closeInfoWindow(); },
                                    markerClick: function() { console.log(this.title);window.location.href = this.title; }
                                };
                            </script>
                        </div>
                    </div>
                </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   {% include "footer.html" %}
   <script src="{% static 'network/js/home.js' %}"></script>


</body>

</html>
