{% include "header.html" with title=asset.asset_type %}
{% load staticfiles %}
{% load network_extras %}

<body>

    <div id="wrapper">

        {% include 'navbar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>{{asset.asset_type}}</h1>
                        <div class="asset_information">
                            <h4><b>Subestação:</b> {{asset.substation}}</h4>
                            <h4><b>Designação:</b> {{asset.name}}</h4>
                            <h4><b>Tecnologia:</b> {{asset.technology}}</h4>
                            {%if asset.sap_id%}<h4><b>SAP ID:</b> {{asset.sap_id}}</h4>{%endif%}
                            <h4><b>Ano de fabrico:</b> {{asset.fabrication_year}}</h4>
                            {%if asset.panel%}<h4><b>Painel:</b> {{substation.panel}}</h4>{%endif%}
                        </div>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

              <div class="row row-eq-height">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-tachometer fa-fw"></i>
                            <h3>Índice de Saúde</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-9">
                                <div id="hi-gauge" style="width:400px; height:320px" data-hi="{{asset.health_index|floatformat:0}}">
                                </div>
                            </div>
                            <div class="col-lg-3 reliability-indicator">

                                <div class="panel-bar light-grey-bg">
                                    <div class="spacer-xs">
                                        <p class="center-align-text bar-title">Confiança</p>
                                        <p class="center-align-text">{{asset.reliability|percentage}}</p>
                                        <ul class="asset-progress-bar" data-value={{asset.reliability}} data-max=100>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-warning"></i>
                        <h3>Probabilidade de Falha</h3>
                    </div>
                    <div class="panel-body panel-failure-probability">
                            <div class="circular-progress">
                                <div id="prog-contain" data-value="{{asset.failure_probability}}">
                                    <div class="prog"></div>
                                </div>
                            </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-heartbeat fa-fw"></i>
                        <h3>Vida restante</h3>
                    </div>
                    <div class="panel-body panel-remaining-lifetime">
                        <div class="panel-bar light-grey-bg">
                            <div class="spacer-xs">
                                <p class="center-align-text">{{asset.remaining_lifetime|floatformat:"-1"}} ano{{ asset.remaining_lifetime|pluralize }}</p>
                                <ul class="asset-progress-bar" data-value={{asset.remaining_lifetime}} data-max={{asset.max_age}}>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row row-eq-height alerts">
                {% for component in asset.components %}
                    {% for function in component.functions %}
                        {% for fault in function.faults %}
                            {% for parameter in fault.parameters %}
                        {% with parameter.values|first as value %}
                        {% if value.get_alert %}
                        <div class="col-lg-2">
                            <div class="panel panel-red">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="fa fa-bolt fa-5x"></i>
                                        </div>
                                        <div class="col-xs-10">
                                            <div class="huge">{{value.get_alert}}</div>
                                            <div>{{parameter}}: {{value.get_value}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                {% for component in asset.components %}
                    {% for function in component.functions %}
                        {% for fault in function.faults %}
                            {% for parameter in fault.parameters %}
                        {% with parameter.values|first as value %}
                        {% if value.get_warning %}
                        <div class="col-lg-3">
                            <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-2">
                                        <i class="fa fa-exclamation-triangle fa-5x"></i>
                                    </div>
                                    <div class="col-xs-10">
                                        <div class="huge">{{value.get_warning}}</div>
                                        <div>{{parameter}}: {{value.get_value}}</div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endwith %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row row-eq-height">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> Índice de Saúde
                        </div>
                        <div class="hi-table">
                            <table class="table-bordered table components-table">
                                <thead>
                                    <tr>
                                        <th>Componente</th>
                                        <th>Função</th>
                                        <th>Falha</th>
                                        <th>Parâmetro</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for component in asset.components %}
                                       <tr>
                                           <td rowspan="{{component.num_parameters}}">{{ component }} - <span class="text-color-{{component.health_index|value_to_color:100}}">{{component.health_index|floatformat:"-2"}}</span></td>
                                           {% for function in component.functions %}
                                                <td rowspan="{{function.num_parameters}}">{{ function }} - <span class="text-color-{{function.health_index|value_to_color:100}}">{{function.health_index|floatformat:"-2"}}</span></td>
                                                {% for fault in function.faults %}
                                                    <td rowspan="{{fault.parameters|length}}">{{ fault }} - <span class="text-color-{{fault.health_index|value_to_color:100}}">{{fault.health_index|floatformat:"-2"}}</span></td>
                                                    {% for parameter in fault.parameters %}
                                                    {% if not forloop.first %}
                                                       <tr>
                                                    {% endif %}
                                                       <td>{{ parameter.name }}</td>
                                                       {% with parameter.values|first as value %}
                                                       <td class="{% if value %}text-color-{{value.get_health_index|value_to_color:100}}{% endif %}">{% if value %}{{value.get_value}}{% else %}Desconhecido{% endif %}</td>
                                                       {% endwith %}
                                                       </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                           {% endfor %}
                                       </tr>
                                    {% endfor %}
                                    {% for parameter in asset.global_parameters %}
                                        <tr>
                                            <td colspan="3">Parâmetro Global</td>
                                            <td>{{parameter.name}}</td>
                                            {% with parameter.values|first as value %}<td class="text-color-{{value.get_health_index|value_to_color:100}}">{{ value.get_value }}</td>{% endwith %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default clearfix">
                        <div class="panel-heading">
                            <i class="fa fa-warning fa-fw"></i><h3>Probabilidade de Falha</h3>
                        </div>
                        <div class="fp-panel clearfix">
                            <div class="col-lg-7">
                                <h4>Falha Geral:</h4>
                                <div class="progress">
                                  <span class="failure-progress">{{asset.failure_probability|percentage}}</span>
                                  <div class="progress-bar progress-bar-striped color-{{asset.failure_probability|percentage_to_color}}" role="progressbar" aria-valuenow="{{asset.failure_probability}}" aria-valuemin="0" aria-valuemax="100" style="width: {{asset.failure_probability}}%">
                                  </div>
                                </div>
                                <hr>
                                {% for component in asset.components %}
                                    {% for function in component.functions %}
                                        <div class="col-lg-11 clearfix" style="padding-left: 0px">
                                        {% for fault in function.faults %}
                                                <h4>{{fault}}:</h4>
                                                <div class="progress">
                                                  <span class="failure-progress">{{fault.failure_probability|percentage}}</span>
                                                  <div class="progress-bar progress-bar-striped color-{{fault.failure_probability|percentage_to_color}}" role="progressbar" aria-valuenow="{{fault.failure_probability}}" aria-valuemin="0" aria-valuemax="100" style="width: {{fault.failure_probability}}%">
                                                  </div>
                                                </div>
                                        {% endfor %}
                                        </div>

                                    {% endfor %}
                                {% endfor %}
                            </div>
                                <div class="external-factors col-lg-5 clearfix">
                                    <table class="table-bordered table">
                                        <thead>
                                            <tr><th colspan="2" style="text-align: center">Fatores Externos</th></tr>
                                        </thead>
                                        <tbody>
                                        {% for external_factor in asset.external_factors %}
                                            <tr><td width="65%">{{external_factor.name}}</td>{% with external_factor.values|first as value %}<td class="text-color-{{value.get_health_index|value_to_color:100}}">{{ value.get_value }}</td>{% endwith %}</tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-heartbeat fa-fw"></i><h3>Vida restante</h3>
                        </div>
                        <div class="life-panel clearfix">

                            <div class="col-lg-3">
                                <h3>Vida Restante</h3>
                                <h2 class="text-color-{{asset.reduced_lifetime|value_to_color:asset.max_age}}">{{asset.reduced_lifetime|floatformat:"-2"}} ano{{asset.reduced_lifetime|pluralize}}</h2>
                            </div>
                            <div class="col-lg-3">
                                <h3>Obsolescência</h3>
                                <h2 class="text-color-{{asset.obsolescence_lifetime|value_to_color:asset.max_age}}">{{asset.obsolescence_lifetime|floatformat:"-2"}} ano{{asset.obsolescence_lifetime|pluralize}}</h2>
                            </div>
                            <div class="col-lg-6 aging-parameters">
                                <table class="table-bordered table aging-table">
                                    <thead>
                                        <tr><th colspan="2" style="text-align: center">Parâmetros de Envelhecimento</th></tr>
                                    </thead>
                                    <tbody>
                                    {% for aging_parameter in asset.aging_parameters %}
                                        <tr><td>{{aging_parameter.name}}</td><td>{% with aging_parameter.values|first as value %}{{ value.get_value }}{% endwith %}</td></tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-line-chart fa-fw"></i><h3>Histórico</h3>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        Actions
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right" role="menu">
                                        <li><a href="#">Action</a>
                                        </li>
                                        <li><a href="#">Another action</a>
                                        </li>
                                        <li><a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="col-lg-9">
                                <div id="morris-historic-chart"></div>
                            </div>
                            <div class="col-lg-3 chart_parameter_select panel panel-default">
                                <h4>Parâmetros:</h4>
                                <hr>
                                <div class="radio">
                                  <input type="radio" name="graph_parameter" checked="true" value="geral"><label>Geral</label>
                                </div>
                                {% for parameter in asset.all_parameters %}
                                <div class="radio">
                                  <input type="radio" name="graph_parameter" value="{{parameter.pk}}"><label>{{parameter.name}}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
                <div class="col-lg-3 recent_values">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-calendar fa-fw"></i> <h3>Últimas Alterações</h3>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                {% for value in asset.recent_values %}
                                <a href="#" class="list-group-item">
                                   {{value.parameter.name}}: <span class="text-color-{{value.get_health_index|value_to_color:100}}">{{ value.get_value }}</span>
                                    <span class="pull-right text-muted small"><em>{{value.date.isoformat}}</em>
                                    </span>
                                </a>
                                {% endfor %}
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

{% include "footer.html" %}
<!-- Morris Charts JavaScript -->
    <script src="{% static 'bower_components/raphael/raphael-min.js' %}"></script>
    <script src="{% static 'bower_components/morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'network/js/morris-data.js' %}"></script>
    <script src="{% static 'bower_components/justgage/justgage.js' %}"></script>
    <script src="{% static 'network/js/gauge.js' %}"></script>
    <script src="{% static 'network/js/progress_circle.js' %}"></script>
    <script type="text/javascript">
        var asset_historic = {{ asset.historic_json|safe }};
        var all_parameters = {{ asset.all_parameters_json|safe}};
    </script>
    <script src="{% static 'network/js/historic_chart.js' %}"></script>

</body>

</html>