{% include "header.html" with title=substation.name %}
{% load staticfiles %}
{% load network_extras %}

<body>

    <div id="wrapper">

        {% include 'navbar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Subestação {{substation.name}}</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
              <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Informações</h3>
                        </div>
                        <div class="panel-body">
                            <h4><b>SAP ID:</b> {{substation.sap_id}}</h4>
                            <h4><b>Morada:</b> {{substation.address}}</h4>
                            <h4><b>Código Postal:</b> {{substation.postal_code}}</h4>
                            <h4><b>GA:</b> {{substation.ga}}</h4>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3>Ativos</h3>
                        </div>
                        <div class="panel-body">
                            <table id="substation-assets" class="table table-hover">
                                <thead>
                                    <tr>
                                      <th>Tipo</th>
                                      <th>Ativo</th>
                                      <th>Índice de Saúde</th>
                                      <th>Probabilidade de Falha</th>
                                      <th>Tempo de Vida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for asset in substation.get_assets_info %}
                                    <tr>
                                        <td><a href="http://{{request.get_host}}/asset/{{asset.id}}">{{asset.asset_type}}</a></td>
                                        <td><a href="#">{{asset.name}}</a></td>
                                        <td align="center" class="text-color-{{asset.health_index|value_to_color:100}}">{{asset.health_index|floatformat:0}}</td>
                                        <td align="center" class="text-color-{{asset.failure_probability|value_to_color:100}}">{{asset.failure_probability|percentage}}</td>
                                        <td align="center" class="text-color-{{asset.remaining_lifetime|value_to_color:asset.max_age}}">{{asset.remaining_lifetime|floatformat:0}}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="pull-left">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Mapa</h3>
                    </div>
                    <div class="panel-body">
                        {{ map.map }}
                        {{ map.media.js }}
                        <script type="text/javascript">
                            window.marker = {
                                markerOver: function() { this.openInfoWindow(); },
                                markerOut: function() { this.closeInfoWindow(); },
                                markerClick: function() { console.log(this.title);window.location.href = this.title; }
                            };
                        </script>
                    </div>
                  </div>
                </div>
              </div>

              </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    {% include "footer.html" %}
    <!-- Dashboard -->
    <script src="{% static 'network/js/substation.js' %}"></script>


</body>

</html>
