.panel-heading {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }

  i {
    float: left;
    font-size: 22px;
    line-height: 20px;
  }
  h3 {
    margin: 0px 0px 0px 10px;
    float: left;
    font-size: 22px;
  }

}

.reliability-indicator {
  .reliability-title {
    margin: auto;
    width: 120px;
    i {
      float: left;
      font-size: 18px;
    }
    h3 {
      float: left;
      margin: 0 0 0 5px;
      font-size: 18px;
    }
  }
}

.panel-failure-probability {
  padding: 30px 20px;
}

.panel-remaining-lifetime {
  padding: 25px 20px;
}

.life-panel {
  padding-top: 20px;
  text-align: center;
  h3 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .aging-parameters {
    padding-left: 40px;
    padding-right: 20px;
  }
}

.alerts {
  padding-top: 10px;
  padding-bottom: 10px;

  .panel {
    box-shadow: 0 3px 5px #888888;

    i.fa {
      font-size: 36px;
      padding-top: 15px;
      padding-left: 5px;
    }

    .huge {
      font-size: 32px;
    }
  }
}

